

body{
  color: #fff;
  background-color:#f0f0f0;
  font-family:helvetica;
  background:url('http://clevertechie.com/img/bnet-bg.jpg') #0f2439 no-repeat center top;
}

.body-content{
  position:relative;
  top:30px;
  height:500px;
  width:500px;
  margin-left:auto;
  margin-right:auto; 
  background: transparent;
}

